$blue:#286EFA;
$heading: #333333;
$grey: #777777;
$white: #FFFFFF;
$greyWhite: #ededed;
$red: #F53C3C;
$lightGrey: #AAAAAA;

$headerFont: 32px;
$bigFont: 18px;
$mediumFont: 15px;
$smallFont: 12px;
$buttonTextFont: 13px;